.root {
  width: 300px;
  height: 350px;
  padding: 20px;
  margin: 20px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  color: black;

  .icons {
    margin-left: 170px;
    margin-top: 20px;
    :nth-child(1) {
      margin-right: 10px;
    }
  }
}

.link {
  text-decoration: none;
}
